# Flutter
**/build/
**/.dart_tool/
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/android/.gradle/
**/android/app/build/
pubspec.lock

# Python / FastAPI
backend/.venv/
__pycache__/
/backend/app/config/mindtuner-8804e-firebase-adminsdk-fbsvc-8e25d7ced2.json
/backend/app/config/config.py
**/*.py[cod]
requirements.txt

# IDE
.vscode/
.idea/
*.iml
